{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}

<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">
                    {% if category == 'web_design' %}
                        Web Design Courses
                    {% elif category == 'graphic_design' %}
                        Graphic Design Courses
                    {% elif category == 'video_editing' %}
                        Video Editing Courses
                    {% elif category == 'online_marketing' %}
                        Online Marketing Courses
                    {% else %}
                        Courses for Other Categories
                    {% endif %}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{{ url_for('index') }}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Pages</li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        <li class="breadcrumb-item text-white active" aria-current="page">
                            {% if category == 'web_design' %}
                            Web Design Courses
                        {% elif category == 'graphic_design' %}
                            Graphic Design Courses
                        {% elif category == 'video_editing' %}
                            Video Editing Courses
                        {% elif category == 'online_marketing' %}
                            Online Marketing Courses
                        {% else %}
                            Courses for Other Categories
                        {% endif %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

{% for course in courses %}
    {% if course.category == category %}
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src={{url_for('static', filename=course.cover_url)}} alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="{{ url_for('course_detail', course_id=course.id) }}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="{{ url_for('course_detail', course_id=course.id) }}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">{{course.price}}$</h3>
                        <div class="mb-3">
                            {% for point in range(course.points) %}
                                <small class="fa fa-star text-primary"></small>
                            {% endfor %}
                            <small>{{course.comments}}</small>
                        </div>
                        <h5 class="mb-4">{{course.name}}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>{{course.teacher}}</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{course.length}} Hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{course.students}}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
